{% extends "inpro_home/base.html" %} 
{% block content %}
<h1>Welcome to InventoryPro, <insert employee name here> </h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Locker Code</th>
      <th scope="col">Location</th>
      <th scope="col">Last Updated</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">4hj546</th>
      <td>London</td>
      <td>12/01/2021</td>
    
    </tr>
    <tr>
      <th scope="row">1hh336</th>
      <td>Cape Town</td>
      <td>26/01/2021</td>
  
    </tr>
    <tr>
      <th scope="row">1hh336</th>
      <td>Bracknell</td>
      <td>02/04/2021</td>
    </tr>
  </tbody>
</table>



{% endblock content %}
