{% extends "inpro_home/base.html" %}
{% block content %}
<h1>Welcome to InventoryPro, Quewin</h1>
  <div>
    <h3>Lockers</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        {% for locker in lockers %}
          <tr>
            <td><a href="{% url 'locker-detail' locker.id %}">{{ locker.id }}</a></td>
            <td>{{ locker.name }}</td>
            <td>{{ locker.address }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
